<div class="el optional">
        <div class="tag">&lt;PricingExchangeRate&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;SourceCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/SourceCurrencyCode&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;SourceCurrencyBaseRate&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/SourceCurrencyBaseRate&gt;</span>
      </div><div class="el required">
        <div class="tag">&lt;TargetCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/TargetCurrencyCode&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;TargetCurrencyBaseRate&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/TargetCurrencyBaseRate&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;ExchangeMarketID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ExchangeMarketID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;CalculationRate&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/CalculationRate&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;MathematicOperatorCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/MathematicOperatorCode&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;Date&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/Date&gt;</span>
      </div><div class="elref optional">
            <a href="ForeignExchangeContract.html" class="open">&lt;ForeignExchangeContract...&gt;</a>
          </div></div>
        <div class="tag">&lt;/PricingExchangeRate&gt;</div>
      </div>