<div class="el optional">
        <div class="tag">&lt;BillingReference&gt;</div>
        <div class="ch"><div class="elref optional">
            <a href="InvoiceDocumentReference.html" class="open">&lt;InvoiceDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="SelfBilledInvoiceDocumentReference.html" class="open">&lt;SelfBilledInvoiceDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="CreditNoteDocumentReference.html" class="open">&lt;CreditNoteDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="SelfBilledCreditNoteDocumentReference.html" class="open">&lt;SelfBilledCreditNoteDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="DebitNoteDocumentReference.html" class="open">&lt;DebitNoteDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="ReminderDocumentReference.html" class="open">&lt;ReminderDocumentReference...&gt;</a>
          </div><div class="elref optional">
            <a href="AdditionalDocumentReference.html" class="open">&lt;AdditionalDocumentReference...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="BillingReferenceLine.html" class="open">&lt;BillingReferenceLine...&gt;</a>
          </div>
          <div class="hint">BillingReferenceLine may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/BillingReference&gt;</div>
      </div>