<div class="el optional">
        <div class="tag">&lt;Signature&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Note <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Note&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;ValidationDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/ValidationDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;ValidationTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/ValidationTime&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;ValidatorID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ValidatorID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CanonicalizationMethod <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/CanonicalizationMethod&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;SignatureMethod <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/SignatureMethod&gt;</div>
      </div><div class="elref required">
            <a href="SignatoryParty.html" class="open">&lt;SignatoryParty...&gt;</a>
          </div><div class="elref optional">
            <a href="DigitalSignatureAttachment.html" class="open">&lt;DigitalSignatureAttachment...&gt;</a>
          </div><div class="elref optional">
            <a href="OriginalDocumentReference.html" class="open">&lt;OriginalDocumentReference...&gt;</a>
          </div></div>
        <div class="tag">&lt;/Signature&gt;</div>
      </div>