<div class="el optional">
        <div class="tag">&lt;ItemInstance&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ProductTraceID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ProductTraceID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;ManufactureDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/ManufactureDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;ManufactureTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/ManufactureTime&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;RegistrationID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/RegistrationID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;SerialID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/SerialID&gt;</div>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalItemProperty.html" class="open">&lt;AdditionalItemProperty...&gt;</a>
          </div>
          <div class="hint">AdditionalItemProperty may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="LotIdentification.html" class="open">&lt;LotIdentification...&gt;</a>
          </div></div>
        <div class="tag">&lt;/ItemInstance&gt;</div>
      </div>