<div class="el optional">
        <div class="tag">&lt;DigitalSignatureAttachment&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;EmbeddedDocumentBinaryObject <span class="att optional">
      format=<span class="content">xsd:string</span>
    </span><span class="att required">
      mimeCode=<span class="content">clmIANAMIMEMediaType:BinaryObjectMimeCodeContentType</span>
    </span><span class="att optional">
      encodingCode=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      characterSetCode=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      uri=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      filename=<span class="content">xsd:string</span>
    </span>&gt;</div>
        <span class="content">xsd:base64Binary</span>
        <div class="tag">&lt;/EmbeddedDocumentBinaryObject&gt;</div>
      </div><div class="elref optional">
            <a href="ExternalReference.html" class="open">&lt;ExternalReference...&gt;</a>
          </div></div>
        <div class="tag">&lt;/DigitalSignatureAttachment&gt;</div>
      </div>