<div class="el optional">
        <div class="tag">&lt;Delivery&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Quantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/Quantity&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MinimumQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MinimumQuantity&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MaximumQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MaximumQuantity&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;ActualDeliveryDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/ActualDeliveryDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;ActualDeliveryTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/ActualDeliveryTime&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;LatestDeliveryDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/LatestDeliveryDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;LatestDeliveryTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/LatestDeliveryTime&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;TrackingID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/TrackingID&gt;</div>
      </div><div class="elref optional">
            <a href="DeliveryAddress.html" class="open">&lt;DeliveryAddress...&gt;</a>
          </div><div class="elref optional">
            <a href="DeliveryLocation.html" class="open">&lt;DeliveryLocation...&gt;</a>
          </div><div class="elref optional">
            <a href="RequestedDeliveryPeriod.html" class="open">&lt;RequestedDeliveryPeriod...&gt;</a>
          </div><div class="elref optional">
            <a href="PromisedDeliveryPeriod.html" class="open">&lt;PromisedDeliveryPeriod...&gt;</a>
          </div><div class="elref optional">
            <a href="EstimatedDeliveryPeriod.html" class="open">&lt;EstimatedDeliveryPeriod...&gt;</a>
          </div><div class="elref optional">
            <a href="DeliveryParty.html" class="open">&lt;DeliveryParty...&gt;</a>
          </div><div class="elref optional">
            <a href="Despatch.html" class="open">&lt;Despatch...&gt;</a>
          </div></div>
        <div class="tag">&lt;/Delivery&gt;</div>
      </div>