<div class="el optional">
        <div class="tag">&lt;OriginalDocumentReference&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;CopyIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/CopyIndicator&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;UUID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/UUID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;IssueDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/IssueDate&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;DocumentTypeCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/DocumentTypeCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;DocumentType <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/DocumentType&gt;</div>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;XPath <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/XPath&gt;</div>
      </div>
          <div class="hint">XPath may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="Attachment.html" class="open">&lt;Attachment...&gt;</a>
          </div></div>
        <div class="tag">&lt;/OriginalDocumentReference&gt;</div>
      </div>