<div class="el optional">
        <div class="tag">&lt;MeasurementDimension&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;AttributeID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/AttributeID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Measure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/Measure&gt;</div>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;Description <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Description&gt;</div>
      </div>
          <div class="hint">Description may occur any number of times.</div>
        </div><div class="el optional">
        <div class="tag">&lt;MinimumMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MinimumMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MaximumMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MaximumMeasure&gt;</div>
      </div></div>
        <div class="tag">&lt;/MeasurementDimension&gt;</div>
      </div>