<div class="el optional">
        <div class="tag">&lt;PostalAddress&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AddressTypeCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/AddressTypeCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AddressFormatCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/AddressFormatCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Postbox <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Postbox&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Floor <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Floor&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Room <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Room&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;StreetName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/StreetName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AdditionalStreetName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/AdditionalStreetName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;BlockName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/BlockName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;BuildingName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/BuildingName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;BuildingNumber <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/BuildingNumber&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;InhouseMail <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/InhouseMail&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Department <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Department&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MarkAttention <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/MarkAttention&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MarkCare <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/MarkCare&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PlotIdentification <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/PlotIdentification&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CitySubdivisionName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/CitySubdivisionName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CityName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/CityName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PostalZone <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/PostalZone&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CountrySubentity <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/CountrySubentity&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CountrySubentityCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/CountrySubentityCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Region <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Region&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;District <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/District&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TimezoneOffset <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/TimezoneOffset&gt;</div>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="AddressLine.html" class="open">&lt;AddressLine...&gt;</a>
          </div>
          <div class="hint">AddressLine may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="Country.html" class="open">&lt;Country...&gt;</a>
          </div><div class="elref optional">
            <a href="LocationCoordinate.html" class="open">&lt;LocationCoordinate...&gt;</a>
          </div></div>
        <div class="tag">&lt;/PostalAddress&gt;</div>
      </div>