<div class="el optional">
        <div class="tag">&lt;SellerSupplierParty&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;CustomerAssignedAccountID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/CustomerAssignedAccountID&gt;</div>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;AdditionalAccountID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/AdditionalAccountID&gt;</div>
      </div>
          <div class="hint">AdditionalAccountID may occur any number of times.</div>
        </div><div class="el optional">
        <div class="tag">&lt;DataSendingCapability <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/DataSendingCapability&gt;</div>
      </div><div class="elref optional">
            <a href="Party.html" class="open">&lt;Party...&gt;</a>
          </div><div class="elref optional">
            <a href="DespatchContact.html" class="open">&lt;DespatchContact...&gt;</a>
          </div><div class="elref optional">
            <a href="AccountingContact.html" class="open">&lt;AccountingContact...&gt;</a>
          </div><div class="elref optional">
            <a href="SellerContact.html" class="open">&lt;SellerContact...&gt;</a>
          </div></div>
        <div class="tag">&lt;/SellerSupplierParty&gt;</div>
      </div>