<div class="el optional">
        <div class="tag">&lt;LotIdentification&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;LotNumberID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/LotNumberID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;ExpiryDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/ExpiryDate&gt;</span>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalItemProperty.html" class="open">&lt;AdditionalItemProperty...&gt;</a>
          </div>
          <div class="hint">AdditionalItemProperty may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/LotIdentification&gt;</div>
      </div>