<div class="el optional">
        <div class="tag">&lt;TaxLevelCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/TaxLevelCode&gt;</div>
      </div>