<div class="el optional">
        <div class="tag">&lt;ManufacturersItemIdentification&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;ExtendedID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ExtendedID&gt;</div>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="PhysicalAttribute.html" class="open">&lt;PhysicalAttribute...&gt;</a>
          </div>
          <div class="hint">PhysicalAttribute may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="MeasurementDimension.html" class="open">&lt;MeasurementDimension...&gt;</a>
          </div>
          <div class="hint">MeasurementDimension may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="IssuerParty.html" class="open">&lt;IssuerParty...&gt;</a>
          </div></div>
        <div class="tag">&lt;/ManufacturersItemIdentification&gt;</div>
      </div>