<div class="el optional">
        <div class="tag">&lt;PricingReference&gt;</div>
        <div class="ch"><div class="elref optional">
            <a href="OriginalItemLocationQuantity.html" class="open">&lt;OriginalItemLocationQuantity...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="AlternativeConditionPrice.html" class="open">&lt;AlternativeConditionPrice...&gt;</a>
          </div>
          <div class="hint">AlternativeConditionPrice may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/PricingReference&gt;</div>
      </div>