<div class="el optional">
        <div class="tag">&lt;TaxSubtotal&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;TaxableAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TaxableAmount&gt;</div>
      </div><div class="el required">
        <div class="tag">&lt;TaxAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TaxAmount&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;CalculationSequenceNumeric&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/CalculationSequenceNumeric&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;TransactionCurrencyTaxAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TransactionCurrencyTaxAmount&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;Percent&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/Percent&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;BaseUnitMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/BaseUnitMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PerUnitAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/PerUnitAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TierRange <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/TierRange&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;TierRatePercent&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/TierRatePercent&gt;</span>
      </div><div class="elref required">
            <a href="TaxCategory.html" class="open">&lt;TaxCategory...&gt;</a>
          </div></div>
        <div class="tag">&lt;/TaxSubtotal&gt;</div>
      </div>