<div class="el optional">
        <div class="tag">&lt;BuyerContact&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Name <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Name&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Telephone <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Telephone&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Telefax <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Telefax&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;ElectronicMail <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/ElectronicMail&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Note <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Note&gt;</div>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="OtherCommunication.html" class="open">&lt;OtherCommunication...&gt;</a>
          </div>
          <div class="hint">OtherCommunication may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/BuyerContact&gt;</div>
      </div>