<div class="el required">
        <div class="tag">&lt;LegalMonetaryTotal&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;LineExtensionAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LineExtensionAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TaxExclusiveAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TaxExclusiveAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TaxInclusiveAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TaxInclusiveAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AllowanceTotalAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/AllowanceTotalAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;ChargeTotalAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/ChargeTotalAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PrepaidAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/PrepaidAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PayableRoundingAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/PayableRoundingAmount&gt;</div>
      </div><div class="el required">
        <div class="tag">&lt;PayableAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/PayableAmount&gt;</div>
      </div></div>
        <div class="tag">&lt;/LegalMonetaryTotal&gt;</div>
      </div>