<div class="el optional">
        <div class="tag">&lt;AdditionalItemProperty&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;Name <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Name&gt;</div>
      </div><div class="el required">
        <div class="tag">&lt;Value <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Value&gt;</div>
      </div><div class="elref optional">
            <a href="UsabilityPeriod.html" class="open">&lt;UsabilityPeriod...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="ItemPropertyGroup.html" class="open">&lt;ItemPropertyGroup...&gt;</a>
          </div>
          <div class="hint">ItemPropertyGroup may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/AdditionalItemProperty&gt;</div>
      </div>