<div class="el optional">
        <div class="tag">&lt;Despatch&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;RequestedDespatchDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/RequestedDespatchDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;RequestedDespatchTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/RequestedDespatchTime&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;EstimatedDespatchDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/EstimatedDespatchDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;EstimatedDespatchTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/EstimatedDespatchTime&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;ActualDespatchDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/ActualDespatchDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;ActualDespatchTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/ActualDespatchTime&gt;</span>
      </div><div class="elref optional">
            <a href="DespatchAddress.html" class="open">&lt;DespatchAddress...&gt;</a>
          </div><div class="elref optional">
            <a href="DespatchParty.html" class="open">&lt;DespatchParty...&gt;</a>
          </div><div class="elref optional">
            <a href="Contact.html" class="open">&lt;Contact...&gt;</a>
          </div></div>
        <div class="tag">&lt;/Despatch&gt;</div>
      </div>