<div class="el optional">
        <div class="tag">&lt;ExtensionURI <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ExtensionURI&gt;</div>
      </div>