<div class="el optional">
        <div class="tag">&lt;OriginatorParty&gt;</div>
        <div class="ch"><div class="el optional">
        <span class="tag">&lt;MarkCareIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/MarkCareIndicator&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;MarkAttentionIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/MarkAttentionIndicator&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;WebsiteURI <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/WebsiteURI&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LogoReferenceID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/LogoReferenceID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;EndpointID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/EndpointID&gt;</div>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="PartyIdentification.html" class="open">&lt;PartyIdentification...&gt;</a>
          </div>
          <div class="hint">PartyIdentification may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="PartyName.html" class="open">&lt;PartyName...&gt;</a>
          </div>
          <div class="hint">PartyName may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="Language.html" class="open">&lt;Language...&gt;</a>
          </div><div class="elref optional">
            <a href="PostalAddress.html" class="open">&lt;PostalAddress...&gt;</a>
          </div><div class="elref optional">
            <a href="PhysicalLocation.html" class="open">&lt;PhysicalLocation...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="PartyTaxScheme.html" class="open">&lt;PartyTaxScheme...&gt;</a>
          </div>
          <div class="hint">PartyTaxScheme may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="PartyLegalEntity.html" class="open">&lt;PartyLegalEntity...&gt;</a>
          </div>
          <div class="hint">PartyLegalEntity may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="Contact.html" class="open">&lt;Contact...&gt;</a>
          </div><div class="elref optional">
            <a href="Person.html" class="open">&lt;Person...&gt;</a>
          </div><div class="elref optional">
            <a href="AgentParty.html" class="open">&lt;AgentParty...&gt;</a>
          </div></div>
        <div class="tag">&lt;/OriginatorParty&gt;</div>
      </div>