<div class="el required">
        <div class="tag">&lt;Invoice&gt;</div>
        <div class="ch"><div class="elref optional">
            <a href="UBLExtensions.html" class="open">&lt;UBLExtensions...&gt;</a>
          </div><div class="el optional">
        <div class="tag">&lt;UBLVersionID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/UBLVersionID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CustomizationID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/CustomizationID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;ProfileID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ProfileID&gt;</div>
      </div><div class="el required">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;CopyIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/CopyIndicator&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;UUID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/UUID&gt;</div>
      </div><div class="el required">
        <span class="tag">&lt;IssueDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/IssueDate&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;IssueTime&gt;</span>
        <span class="content">xsd:time</span>
        <span class="tag">&lt;/IssueTime&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;InvoiceTypeCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/InvoiceTypeCode&gt;</div>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;Note <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Note&gt;</div>
      </div>
          <div class="hint">Note may occur any number of times.</div>
        </div><div class="el optional">
        <span class="tag">&lt;TaxPointDate&gt;</span>
        <span class="content">xsd:date</span>
        <span class="tag">&lt;/TaxPointDate&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;DocumentCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/DocumentCurrencyCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TaxCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/TaxCurrencyCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PricingCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/PricingCurrencyCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PaymentCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/PaymentCurrencyCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PaymentAlternativeCurrencyCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/PaymentAlternativeCurrencyCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AccountingCostCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/AccountingCostCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AccountingCost <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/AccountingCost&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;LineCountNumeric&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/LineCountNumeric&gt;</span>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="InvoicePeriod.html" class="open">&lt;InvoicePeriod...&gt;</a>
          </div>
          <div class="hint">InvoicePeriod may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="OrderReference.html" class="open">&lt;OrderReference...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="BillingReference.html" class="open">&lt;BillingReference...&gt;</a>
          </div>
          <div class="hint">BillingReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="DespatchDocumentReference.html" class="open">&lt;DespatchDocumentReference...&gt;</a>
          </div>
          <div class="hint">DespatchDocumentReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ReceiptDocumentReference.html" class="open">&lt;ReceiptDocumentReference...&gt;</a>
          </div>
          <div class="hint">ReceiptDocumentReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="OriginatorDocumentReference.html" class="open">&lt;OriginatorDocumentReference...&gt;</a>
          </div>
          <div class="hint">OriginatorDocumentReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ContractDocumentReference.html" class="open">&lt;ContractDocumentReference...&gt;</a>
          </div>
          <div class="hint">ContractDocumentReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalDocumentReference.html" class="open">&lt;AdditionalDocumentReference...&gt;</a>
          </div>
          <div class="hint">AdditionalDocumentReference may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="Signature.html" class="open">&lt;Signature...&gt;</a>
          </div>
          <div class="hint">Signature may occur any number of times.</div>
        </div><div class="elref required">
            <a href="AccountingSupplierParty.html" class="open">&lt;AccountingSupplierParty...&gt;</a>
          </div><div class="elref required">
            <a href="AccountingCustomerParty.html" class="open">&lt;AccountingCustomerParty...&gt;</a>
          </div><div class="elref optional">
            <a href="PayeeParty.html" class="open">&lt;PayeeParty...&gt;</a>
          </div><div class="elref optional">
            <a href="BuyerCustomerParty.html" class="open">&lt;BuyerCustomerParty...&gt;</a>
          </div><div class="elref optional">
            <a href="SellerSupplierParty.html" class="open">&lt;SellerSupplierParty...&gt;</a>
          </div><div class="elref optional">
            <a href="TaxRepresentativeParty.html" class="open">&lt;TaxRepresentativeParty...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="Delivery.html" class="open">&lt;Delivery...&gt;</a>
          </div>
          <div class="hint">Delivery may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="DeliveryTerms.html" class="open">&lt;DeliveryTerms...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="PaymentMeans.html" class="open">&lt;PaymentMeans...&gt;</a>
          </div>
          <div class="hint">PaymentMeans may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="PaymentTerms.html" class="open">&lt;PaymentTerms...&gt;</a>
          </div>
          <div class="hint">PaymentTerms may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="PrepaidPayment.html" class="open">&lt;PrepaidPayment...&gt;</a>
          </div>
          <div class="hint">PrepaidPayment may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="AllowanceCharge.html" class="open">&lt;AllowanceCharge...&gt;</a>
          </div>
          <div class="hint">AllowanceCharge may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="TaxExchangeRate.html" class="open">&lt;TaxExchangeRate...&gt;</a>
          </div><div class="elref optional">
            <a href="PricingExchangeRate.html" class="open">&lt;PricingExchangeRate...&gt;</a>
          </div><div class="elref optional">
            <a href="PaymentExchangeRate.html" class="open">&lt;PaymentExchangeRate...&gt;</a>
          </div><div class="elref optional">
            <a href="PaymentAlternativeExchangeRate.html" class="open">&lt;PaymentAlternativeExchangeRate...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="TaxTotal.html" class="open">&lt;TaxTotal...&gt;</a>
          </div>
          <div class="hint">TaxTotal may occur any number of times.</div>
        </div><div class="elref required">
            <a href="LegalMonetaryTotal.html" class="open">&lt;LegalMonetaryTotal...&gt;</a>
          </div><div class="multi required">
          <div class="elref required">
            <a href="InvoiceLine.html" class="open">&lt;InvoiceLine...&gt;</a>
          </div>
          <div class="hint">InvoiceLine may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/Invoice&gt;</div>
      </div>