<div class="el optional">
        <div class="tag">&lt;HazardousItem&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;ID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/ID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PlacardNotation <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/PlacardNotation&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;PlacardEndorsement <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/PlacardEndorsement&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;AdditionalInformation <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/AdditionalInformation&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;UNDGCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/UNDGCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;EmergencyProceduresCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/EmergencyProceduresCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MedicalFirstAidGuideCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/MedicalFirstAidGuideCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;TechnicalName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/TechnicalName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;CategoryName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/CategoryName&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;HazardousCategoryCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/HazardousCategoryCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;UpperOrangeHazardPlacardID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/UpperOrangeHazardPlacardID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LowerOrangeHazardPlacardID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/LowerOrangeHazardPlacardID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MarkingID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/MarkingID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;HazardClassID <span class="att optional">
      schemeID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      schemeVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      schemeDataURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      schemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/HazardClassID&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;NetWeightMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/NetWeightMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;NetVolumeMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/NetVolumeMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;Quantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/Quantity&gt;</div>
      </div><div class="elref optional">
            <a href="ContactParty.html" class="open">&lt;ContactParty...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="SecondaryHazard.html" class="open">&lt;SecondaryHazard...&gt;</a>
          </div>
          <div class="hint">SecondaryHazard may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="HazardousGoodsTransit.html" class="open">&lt;HazardousGoodsTransit...&gt;</a>
          </div>
          <div class="hint">HazardousGoodsTransit may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="EmergencyTemperature.html" class="open">&lt;EmergencyTemperature...&gt;</a>
          </div><div class="elref optional">
            <a href="FlashpointTemperature.html" class="open">&lt;FlashpointTemperature...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalTemperature.html" class="open">&lt;AdditionalTemperature...&gt;</a>
          </div>
          <div class="hint">AdditionalTemperature may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/HazardousItem&gt;</div>
      </div>