<div class="el optional">
        <div class="tag">&lt;DeliveryUnit&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;BatchQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/BatchQuantity&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;ConsumerUnitQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/ConsumerUnitQuantity&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;HazardousRiskIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/HazardousRiskIndicator&gt;</span>
      </div></div>
        <div class="tag">&lt;/DeliveryUnit&gt;</div>
      </div>