<div class="el optional">
        <div class="tag">&lt;LocationCoordinate&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;CoordinateSystemCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/CoordinateSystemCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LatitudeDegreesMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LatitudeDegreesMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LatitudeMinutesMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LatitudeMinutesMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LatitudeDirectionCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/LatitudeDirectionCode&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LongitudeDegreesMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LongitudeDegreesMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LongitudeMinutesMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LongitudeMinutesMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;LongitudeDirectionCode <span class="att optional">
      listID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      listAgencyName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listName=<span class="content">xsd:string</span>
    </span><span class="att optional">
      listVersionID=<span class="content">xsd:normalizedString</span>
    </span><span class="att optional">
      name=<span class="content">xsd:string</span>
    </span><span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span><span class="att optional">
      listURI=<span class="content">xsd:anyURI</span>
    </span><span class="att optional">
      listSchemeURI=<span class="content">xsd:anyURI</span>
    </span>&gt;</div>
        <span class="content">xsd:normalizedString</span>
        <div class="tag">&lt;/LongitudeDirectionCode&gt;</div>
      </div></div>
        <div class="tag">&lt;/LocationCoordinate&gt;</div>
      </div>