<div class="el optional">
        <div class="tag">&lt;OriginalItemLocationQuantity&gt;</div>
        <div class="ch"><div class="el optional">
        <div class="tag">&lt;LeadTimeMeasure <span class="att required">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/LeadTimeMeasure&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MinimumQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MinimumQuantity&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;MaximumQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/MaximumQuantity&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;HazardousRiskIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/HazardousRiskIndicator&gt;</span>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;TradingRestrictions <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/TradingRestrictions&gt;</div>
      </div>
          <div class="hint">TradingRestrictions may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ApplicableTerritoryAddress.html" class="open">&lt;ApplicableTerritoryAddress...&gt;</a>
          </div>
          <div class="hint">ApplicableTerritoryAddress may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="Price.html" class="open">&lt;Price...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="DeliveryUnit.html" class="open">&lt;DeliveryUnit...&gt;</a>
          </div>
          <div class="hint">DeliveryUnit may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ApplicableTaxCategory.html" class="open">&lt;ApplicableTaxCategory...&gt;</a>
          </div>
          <div class="hint">ApplicableTaxCategory may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/OriginalItemLocationQuantity&gt;</div>
      </div>