<div class="el required">
        <div class="tag">&lt;Item&gt;</div>
        <div class="ch"><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;Description <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Description&gt;</div>
      </div>
          <div class="hint">Description may occur any number of times.</div>
        </div><div class="el optional">
        <div class="tag">&lt;PackQuantity <span class="att optional">
      unitCode=<span class="content">clm66411:UnitCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/PackQuantity&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;PackSizeNumeric&gt;</span>
        <span class="content">xsd:decimal</span>
        <span class="tag">&lt;/PackSizeNumeric&gt;</span>
      </div><div class="el optional">
        <span class="tag">&lt;CatalogueIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/CatalogueIndicator&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;Name <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Name&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;HazardousRiskIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/HazardousRiskIndicator&gt;</span>
      </div><div class="el optional">
        <div class="tag">&lt;AdditionalInformation <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/AdditionalInformation&gt;</div>
      </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;Keyword <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/Keyword&gt;</div>
      </div>
          <div class="hint">Keyword may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;BrandName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/BrandName&gt;</div>
      </div>
          <div class="hint">BrandName may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="el optional">
        <div class="tag">&lt;ModelName <span class="att optional">
      languageID=<span class="content">xsd:language</span>
    </span>&gt;</div>
        <span class="content">xsd:string</span>
        <div class="tag">&lt;/ModelName&gt;</div>
      </div>
          <div class="hint">ModelName may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="BuyersItemIdentification.html" class="open">&lt;BuyersItemIdentification...&gt;</a>
          </div><div class="elref optional">
            <a href="SellersItemIdentification.html" class="open">&lt;SellersItemIdentification...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="ManufacturersItemIdentification.html" class="open">&lt;ManufacturersItemIdentification...&gt;</a>
          </div>
          <div class="hint">ManufacturersItemIdentification may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="StandardItemIdentification.html" class="open">&lt;StandardItemIdentification...&gt;</a>
          </div><div class="elref optional">
            <a href="CatalogueItemIdentification.html" class="open">&lt;CatalogueItemIdentification...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalItemIdentification.html" class="open">&lt;AdditionalItemIdentification...&gt;</a>
          </div>
          <div class="hint">AdditionalItemIdentification may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="CatalogueDocumentReference.html" class="open">&lt;CatalogueDocumentReference...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="ItemSpecificationDocumentReference.html" class="open">&lt;ItemSpecificationDocumentReference...&gt;</a>
          </div>
          <div class="hint">ItemSpecificationDocumentReference may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="OriginCountry.html" class="open">&lt;OriginCountry...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="CommodityClassification.html" class="open">&lt;CommodityClassification...&gt;</a>
          </div>
          <div class="hint">CommodityClassification may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="TransactionConditions.html" class="open">&lt;TransactionConditions...&gt;</a>
          </div>
          <div class="hint">TransactionConditions may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="HazardousItem.html" class="open">&lt;HazardousItem...&gt;</a>
          </div>
          <div class="hint">HazardousItem may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ClassifiedTaxCategory.html" class="open">&lt;ClassifiedTaxCategory...&gt;</a>
          </div>
          <div class="hint">ClassifiedTaxCategory may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="AdditionalItemProperty.html" class="open">&lt;AdditionalItemProperty...&gt;</a>
          </div>
          <div class="hint">AdditionalItemProperty may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ManufacturerParty.html" class="open">&lt;ManufacturerParty...&gt;</a>
          </div>
          <div class="hint">ManufacturerParty may occur any number of times.</div>
        </div><div class="elref optional">
            <a href="InformationContentProviderParty.html" class="open">&lt;InformationContentProviderParty...&gt;</a>
          </div><div class="multi optional">
          <div class="elref optional">
            <a href="OriginAddress.html" class="open">&lt;OriginAddress...&gt;</a>
          </div>
          <div class="hint">OriginAddress may occur any number of times.</div>
        </div><div class="multi optional">
          <div class="elref optional">
            <a href="ItemInstance.html" class="open">&lt;ItemInstance...&gt;</a>
          </div>
          <div class="hint">ItemInstance may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/Item&gt;</div>
      </div>