<div class="el optional">
        <div class="tag">&lt;TaxTotal&gt;</div>
        <div class="ch"><div class="el required">
        <div class="tag">&lt;TaxAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/TaxAmount&gt;</div>
      </div><div class="el optional">
        <div class="tag">&lt;RoundingAmount <span class="att required">
      currencyID=<span class="content">clm54217:CurrencyCodeContentType</span>
    </span>&gt;</div>
        <span class="content">xsd:decimal</span>
        <div class="tag">&lt;/RoundingAmount&gt;</div>
      </div><div class="el optional">
        <span class="tag">&lt;TaxEvidenceIndicator&gt;</span>
        <span class="content">xsd:boolean</span>
        <span class="tag">&lt;/TaxEvidenceIndicator&gt;</span>
      </div><div class="multi optional">
          <div class="elref optional">
            <a href="TaxSubtotal.html" class="open">&lt;TaxSubtotal...&gt;</a>
          </div>
          <div class="hint">TaxSubtotal may occur any number of times.</div>
        </div></div>
        <div class="tag">&lt;/TaxTotal&gt;</div>
      </div>